body {
    background: #f3f3f3;
}

.content-wrapper {
    width: 100%;
}

.grid {
    display: inline-block;
    float: left;
}

.grid-3-12 {
    width: 25%;
    background: pink;
}

.grid-6-12 {
    width: 50%;
}

.grid-12-12 {
    width: 100%;
}